<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/basic/ckeditor.js"></script>

<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(log){ %> 
        <div class="container">
            <div style="background-color: darkseagreen; padding: 10px;" class="row mt-5 ml-6">
                <div class="col">

                </div><div style="font-size: 30px;" class="col">

                    <span style="color:red">Usuario:</span><span style="color: black;">
                        <%=user%>
                    </span>
                </div>
            </div>
        </div>
    
    <% }%>
    <div class="container">
        <div class="row">
            <div class="col">
                <div style="margin-top:30px">

                    <h4 style="margin-left: 5%;">Sexo</h4>
                    <a href="/lista/masculino">
                        <button type="button" class="btn btn-primary btn-sm">Masculino</button>
                    </a>
                    <a href="/lista/feminino">
                        <button type="button" class="btn btn-secondary btn-sm">Feminino</button>
                    </a>
                    
                </div>
                <h3>
                    Lista Pessoas 
                </h3>
                <div style="padding: 20px; color: black;" class="row">
                    <div class="col  btn btn-success">
                        Nome
                    </div>
                    <div class="col btn btn-success">
                        Sobrenome
                    </div>
                    <div class="col btn btn-success">
                        CPF
                    </div>
                    <div class="col btn  btn-success">
                        Data de nascimento
                    </div>
                    <div class="col btn btn-success">
                        Sexo:
                    </div>
                </div>
               
                <% pessoas.forEach((el) =>{ %>
                    <div style="padding: 20px; color: black; background-color: whitesmoke; padding: 10px; border-radius: 10px;" class="row">
                    <div class="col  ">
                        <%= el.nome%>
                    </div>
                    <div class="col ">
                        <%= el.sobrenome%>

                    </div>
                    <div class="col ">
                        <%= el.cpf%>
                    </div>
                    <div class="col">
                        <%= el.data%>

                    </div>
                    <div class="col">
                        <%= el.sexo%>

                    </div>
                    <form action="/delete" method="post">
                        <a href="/editar/<%= el.id %>">
                            <button type="button" class="btn btn-dark">Editar</button>

                        </a>
                        <input type="hidden" name="delete" value="<%=el.cpf%>">

                     

                        <button style="color: black;" type="submit"  class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                </div>
                    <%     }) %>
                    <a href="/">
                        <button   style="color:black"class="btn btn-info mt-5">
                            Page Login 
                        </button>
                    </a>
        </div>
    </div>
</body>
</html>

<style>
    body{
        background-color: darkgray;
    }
</style>